/*                     FAU FabLab Bootstrap Theme
 * --------------------------------------------------------------------
 * https://github.com/fau-fablab/website-style    License: CC BY-SA 4.0 */
@import "https://code.cdn.mozilla.net/fonts/fira.css";
/* GLOBAL STYLES
 *-------------------------------------------------------------------- */
body {
  font-family: "Fira Sans";
  color: #000000;
  background-color: #E4EEC1;
  background: -webkit-linear-gradient(top, #E4EEC1 0%, #E0E3E3 5em, #F4F7E7 100%);
  background: linear-gradient(to bottom, #E4EEC1 0%, #E0E3E3 5em, #F4F7E7 100%);
  background-color: #E0E3E3; }

.content hr {
  border-color: #777777; }
.content a:not(.btn) {
  -webkit-transition-property: color;
  -webkit-transition-duration: .5s;
  -moz-transition-property: color;
  -moz-transition-duration: .5s;
  -o-transition-property: color;
  -o-transition-duration: .5s;
  transition-property: color;
  transition-duration: .5s;
  color: #209466; }
  .content a:not(.btn):hover {
    text-decoration-line: none;
    color: #C42028; }
  .content a:not(.btn):visited {
    text-decoration-line: none;
    color: #163B64; }
.content img, .content video {
  max-width: 100%; }

/* TEMPLATES
 *-------------------------------------------------------------------- */
nav.navbar.navbar-inverse .navbar-nav li a,
nav.navbar.navbar-inverse .navbar-brand,
nav.navbar.navbar-inverse .navbar-brand:hover,
nav.navbar.navbar-inverse .navbar-brand:focus,
nav.navbar.navbar-inverse .navbar-toggle,
nav.navbar.navbar-inverse .navbar-nav .open .dropdown-menu li a,
nav.navbar.navbar-inverse .dropdown .dropdown-toggle,
nav.navbar.navbar-inverse .dropdown .dropdown-toggle:focus,
nav.navbar.navbar-inverse .dropdown-menu li a, nav.well a {
  color: #ffffff;
  background-color: transparent;
  font-weight: bold;
  -webkit-transition-property: background;
  -webkit-transition-duration: .5s;
  -moz-transition-property: background;
  -moz-transition-duration: .5s;
  -o-transition-property: background;
  -o-transition-duration: .5s;
  transition-property: background;
  transition-duration: .5s; }

nav.navbar.navbar-inverse .navbar-nav li a:hover,
nav.navbar.navbar-inverse .navbar-nav li a:focus,
nav.navbar.navbar-inverse .dropdown-menu li a:hover,
nav.navbar.navbar-inverse .dropdown-menu li a:focus,
nav.navbar.navbar-inverse .navbar-nav .open .dropdown-menu li a:hover,
nav.navbar.navbar-inverse .navbar-nav .open .dropdown-menu li a:focus,
nav.navbar.navbar-inverse .dropdown .dropdown-toggle:hover, nav.well a:hover {
  color: #ffffff;
  background-color: #A7CE38; }

nav.navbar.navbar-inverse .navbar-nav .active a,
nav.navbar.navbar-inverse .navbar-nav .active a:hover,
nav.navbar.navbar-inverse .navbar-nav .dropdown.open .dropdown-toggle, nav.well .active a,
nav.well a:focus {
  color: #275F86;
  background-color: #A7CE38; }

/* JUMBOTRON AND FOOTER
 *-------------------------------------------------------------------- */
.jumbotron, footer,
.footer {
  color: #E0E3E3;
  background-color: #275F86;
  background: -webkit-linear-gradient(top, #275F86 0%, #2D73A3 20%, #275F86 100%);
  background: linear-gradient(to bottom, #275F86 0%, #2D73A3 20%, #275F86 100%); }
  .jumbotron a:not(.btn), footer a:not(.btn),
  .footer a:not(.btn),
  .jumbotron a:not(.btn):hover,
  footer a:not(.btn):hover,
  .footer a:not(.btn):hover,
  .jumbotron a:not(.btn):visited,
  footer a:not(.btn):visited,
  .footer a:not(.btn):visited {
    text-decoration-line: none;
    color: #A7CE38; }
  .jumbotron h1, footer h1,
  .footer h1 {
    text-shadow: rgba(224, 227, 227, 0.2) 0 1px 0; }
  .jumbotron h2, footer h2,
  .footer h2 {
    text-shadow: rgba(224, 227, 227, 0.2) 0 1px 0; }
  .jumbotron h3, footer h3,
  .footer h3 {
    text-shadow: rgba(224, 227, 227, 0.2) 0 1px 0; }
  .jumbotron.intro, footer.intro,
  .intro.footer {
    margin-bottom: 0px; }

footer,
.footer {
  padding-top: 5em;
  padding-bottom: 5em; }

/* NAVS
 *-------------------------------------------------------------------- */
nav.navbar.navbar-inverse {
  color: #E0E3E3;
  background-color: #275F86;
  background: -webkit-linear-gradient(bottom, #275F86 0%, #2D73A3 20%, #275F86 100%);
  background: linear-gradient(to top, #275F86 0%, #2D73A3 20%, #275F86 100%);
  border-bottom: 0.3em solid #A7CE38; }
  nav.navbar.navbar-inverse .navbar-nav .dropdown .dropdown-menu {
    color: #ffffff;
    background-color: #2D73A3; }
  nav.navbar.navbar-inverse .navbar-collapse,
  nav.navbar.navbar-inverse .navbar-form {
    border-color: transparent; }
  nav.navbar.navbar-inverse .navbar-toggle,
  nav.navbar.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    border-color: transparent; }
    nav.navbar.navbar-inverse .navbar-toggle .icon-bar,
    nav.navbar.navbar-inverse .navbar-toggle:focus .icon-bar {
      background-color: #ffffff; }
    nav.navbar.navbar-inverse .navbar-toggle:hover,
    nav.navbar.navbar-inverse .navbar-toggle:focus:hover {
      background-color: #A7CE38; }
  nav.navbar.navbar-inverse a img.img-thumbnail {
    max-height: 2.5em;
    margin-top: -0.75em;
    margin-bottom: -0.75em;
    padding: .1em;
    background-color: #E0E3E3; }
  nav.navbar.navbar-inverse .navbar-text {
    color: #E0E3E3; }

nav.well {
  color: #E0E3E3;
  background-color: #275F86;
  background: -webkit-linear-gradient(top, #275F86 0%, #2D73A3 20%, #275F86 100%);
  background: linear-gradient(to bottom, #275F86 0%, #2D73A3 20%, #275F86 100%);
  font-weight: bold;
  z-index: 100; }
  nav.well p {
    text-shadow: rgba(119, 119, 119, 0.2) 0 1px 0;
    border-bottom: 0.3em solid #A7CE38; }

/* CUSTOM ELEMENTS
 *-------------------------------------------------------------------- */
.fade-down .fade-down-item-animate {
  -webkit-transition-property: opacity, line-height;
  -webkit-transition-duration: .5s;
  -moz-transition-property: opacity, line-height;
  -moz-transition-duration: .5s;
  -o-transition-property: opacity, line-height;
  -o-transition-duration: .5s;
  transition-property: opacity, line-height;
  transition-duration: .5s;
  line-height: 0px;
  opacity: 0; }
.fade-down:hover .fade-down-item-animate {
  line-height: 140%;
  opacity: 1; }

/*# sourceMappingURL=faufablab.css.map */
