[submodule "fonts/Fira"]
	path = fonts/Fira
	url = https://github.com/mozilla/Fira.git
	branch = master
[submodule "scss/bootstrap-sass"]
	path = scss/bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass.git
	branch = 3.3-stable
