/**********************************************************************************************/
/*                            FAU FabLab stylesheet light                                     */
/**********************************************************************************************/
/*This is a stylesheet wich is similar to the original FAU FabLab stylesheet, but much lighter*/
/*https://github.com/fau-fablab/webiste-style                            License: CC BY-SA 4.0*/
/**********************************************************************************************/

/***big blocks***/
body {
    font-family:"Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    background:#E1E1E1;
    margin:0em;
    padding: 0em;
}

/**main divs***/
.header {
    padding:1em;
    background:white;
    margin-bottom:0em;
    margin-top:0em;
}

.top {
    background:linear-gradient(to bottom, #A7CE38 0%, #A7CE38 7%, #275F86 7%, #2D73A3 20%, #275F86 100%);
    height:3em;
    margin-bottom:0em;
    margin-top:0em;
    padding-bottom:0em;
}

.content {
    background:linear-gradient(to bottom, #E4EEC1 0%, #E0E3E3 5em, #F4F7E7 100%);
    margin-bottom:0em;
    margin-top:0em;
    font-size:small;
    padding:2em;
}

.bottom {
    background:linear-gradient(to bottom, #D0D0D0 0%, #E1E1E1 100%);
    padding:1em;
    font-size:x-small;
    text-align:center;
}


/***html elements****/

    /***header***/
    h1{
        border:none;
        border-bottom:1px solid #AAAAAA;
    }

    nav {
	margin-bottom:-0.7em;
	margin-top:2em;
	margin-left:2em;
        font-weight:bold;
    }
    nav a {
	padding:0.3em;
	background:#CACACA;
	color:#285777;
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
    }
    nav a:hover, nav a#current{
	background:linear-gradient(to bottom, #E4EDC1 0%, #A7CE38 30%, #A7CE38 100%);
	color:white;
        text-decoration:none;
    }

    /***link***/
    a {
        color:#3C80AE;
        text-decoration:none;
    }
    a:hover {
        text-decoration:underline;
    }

    /***table***/
    td {
        border-bottom:1px solid #AAAAAA;
    }
    tr.newCateg {
        font-weight:bold;
    }
    tr.head {
        font-weight:bold;
    }
    tr.newCateg td {
        padding-top:1em;
        border-bottom:3px solid #AAAAAA;
    }
    tr:nth-child(even) {
        background-color: #EDEDED;
    }

    /***list***/
    ul li {
        background:url(https://fablab.fau.de/sites/all/themes/acquia_marina/images/green-bullet.png) no-repeat 0 0.25em;
        list-style:none;
        margin:0.75em;
        padding:0 0 0 1em;
    }

    /***special divs***/
    div.error {
	padding-left:2em;
	padding-rigth:2em;
	padding-top:0.2em;
	padding-bottom:0.2em;
	text-align:center;
	background:#AB2935;
	color:white;
        border:2px solid white;
        border-radius:0.5em;
        padding:0.2em;
        text-transform:uppercase;
        font-weight:bold;
    }

/***inputs***
    /***text inputs***/
    input[type=text] {
        background:#F5F8FA;
        color:#666666;
        border:1px solid #666666;
    }
    /***number inputs***/
    input[type=number] {
        background:linear-gradient(to bottom, #2D73A3 0%, #275F86 100%);
        color:white;
        border:2px solid white;
        border-radius:0.5em;
        padding:0.2em;
        text-transform:uppercase;
        font-weight:bold;
    }
    /***buttons***/
    button,.button,input[type=submit] {
        background:linear-gradient(to bottom, #2D73A3 0%, #275F86 100%);
        color:white;
        border:2px solid white;
        border-radius:0.5em;
	padding:5px;
        margin:0.2em;
        text-transform:uppercase;
        font-weight:bold;
    }
    a:hover.button,input[type=submit]:hover  {
        background:linear-gradient(to bottom, #275F86 0%, #2D73A3 100%);
	text-decoration:none;
    }   
    /***dropdown***/
    select {
        background:linear-gradient(to bottom, #2D73A3 0%, #275F86 100%);
        color:white;
        border:2px solid white;
        border-radius:0.5em;
        padding:0.2em;
        text-transform:uppercase;
        font-weight:bold;
    }
