//                     FAU FabLab Bootstrap Theme
// --------------------------------------------------------------------
//                  color palette, variables, etc...
// https://github.com/fau-fablab/website-style    License: CC BY-SA 4.0

// color palette
//--------------------------------------------------------------------
$fabcube_green:         #209466;
$fabcube_blue:          #163B64;
$fabcube_red:           #C42028;
$highlight_blue:        #2D73A3;
$highlight_blue_alt:    #275F86;
$highlight_green:       #A7CE38;
$highlight_green_alt:   #90B12F;
$light_green:           #E4EEC1;
$light_green_alt:       #F4F7E7;
$white:                 #ffffff;
$black:                 #000000;
$gray-base:             $black;
$gray-darker:           lighten($gray-base, 13.5%);
$gray-dark:             lighten($gray-base, 20%);
$gray:                  lighten($gray-base, 33.5%);
$gray-light:            lighten($gray-base, 46.75%);
$gray-lighter:          lighten($gray-base, 87%);

// other vars
$anim_dur_def: ".5s"; // the default animation duration
$line_width: .3em; // the thickness of green lines

// vim: ts=4 et
